.version.about_me /* version checker */
{
	color: #000007;
	background-color: #C80531;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 1000px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -59px;
	padding-top: 15px;
	width: 0.01px;/* should not cover content below */
}

#u47387
{
	z-index: 115;
	width: 400px;
	margin-left: 375px;
	position: relative;
}

#menuu180
{
	z-index: 52;
	width: 668px;
	margin-left: 252px;
	margin-top: 27px;
	position: relative;
}

#u202
{
	width: 114px;
	min-height: 56px;
	position: relative;
	margin-right: -10000px;
}

#u205
{
	width: 114px;
	padding-bottom: 37px;
	position: relative;
}

#u205:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u205:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u205.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u206-4
{
	width: 50px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 32px;
}

#u205:hover #u206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u205:active #u206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u205.MuseMenuActive #u206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u203
{
	width: 163px;
	top: 56px;
}

#u15014
{
	width: 163px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u15016-4
{
	width: 127px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 14px;
}

#u15014:hover #u15016-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u15023
{
	width: 163px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u15025-4
{
	width: 137px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 9px;
}

#u15023:hover #u15025-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u15028
{
	width: 163px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u15030-4
{
	width: 90px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 33px;
}

#u15028:hover #u15030-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u15035
{
	width: 163px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u15036-4
{
	width: 118px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 19px;
}

#u15035:hover #u15036-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u204,#u15013,#u15020,#u15027,#u15034,#u15041
{
	width: 163px;
	position: relative;
}

#u15042
{
	width: 163px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u15014.MuseMenuActive,#u15023.MuseMenuActive,#u15028.MuseMenuActive,#u15035.MuseMenuActive,#u15042.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u15045-4
{
	width: 134px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 11px;
}

#u15042:hover #u15045-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 134px;
	margin: 0px -10000px 0px 0px;
}

#u209
{
	width: 148px;
	min-height: 56px;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u210
{
	width: 148px;
	padding-bottom: 37px;
	position: relative;
}

#u210:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u210:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u210.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u211-4
{
	width: 84px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 32px;
}

#u210:hover #u211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u210:active #u211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u210.MuseMenuActive #u211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u195
{
	width: 136px;
	min-height: 56px;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}
}

#u198
{
	width: 136px;
	padding-bottom: 37px;
	position: relative;
}

#u198:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u198:active
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u198.MuseMenuActive
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u200-4
{
	width: 72px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 32px;
}

#u198:hover #u200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u198:active #u200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u198.MuseMenuActive #u200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u188
{
	width: 130px;
	min-height: 56px;
	position: relative;
	margin-right: -10000px;
	left: 398px;
}

#u189
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u189:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u189:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u189.MuseMenuActive
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u190-4
{
	width: 66px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 32px;
}

#u189:hover #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u189:active #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u189.MuseMenuActive #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u181
{
	width: 140px;
	min-height: 56px;
	position: relative;
	margin-right: -10000px;
	left: 528px;
}

#u182
{
	width: 140px;
	padding-bottom: 37px;
	position: relative;
}

#u182:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u182:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u182.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u183-4
{
	width: 76px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 32px;
}

#u182:hover #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u182.MuseMenuActive #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u2386
{
	z-index: 9;
	width: 1170px;
	border-color: #E8B563;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	margin-top: 7px;
	position: relative;
}

#u2335
{
	z-index: 10;
	width: 1143px;
	height: 600px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 14px;
	/*background: transparent url("../images/about%20me%201.jpg") no-repeat center center;*/
	background-size: cover;
}

#pu60399-4
{
	width: 0.01px;
	margin-left: 191px;
	margin-top: 23px;
}

#u60399-4
{
	z-index: 46;
	width: 785px;
	min-height: 74px;
	background-color: transparent;
	line-height: 55px;
	font-size: 55px;
	text-align: center;
	color: #3C3C3C;
	font-family: yesteryear, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u60400
{
	z-index: 50;
	width: 15px;
	height: 3px;
	border-width: 0px;
	background-color: #F0A37A;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 499px;
}

#u60401
{
	z-index: 51;
	width: 15px;
	height: 3px;
	border-width: 0px;
	background-color: #F0A37A;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 272px;
}

#u33118-12
{
	z-index: 11;
	width: 1170px;
	min-height: 0px;
	border-width: 0px;
	background-color: transparent;
	line-height: 28px;
	font-size: 15px;
	color: #505050;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	left: -2px;
	margin-top: 14px;
	position: relative;
}

#u33118-2,#u33118-3,#u33118-5,#u33118-7,#u33118-9
{
	text-align: left;
}

#u33118-10
{
	text-align: justify;
}

#pu60408
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
	margin-top: -249px;
}

#u60408
{
	z-index: 117;
	height: 56px;
	border-color: #C9C9C9;
	background-color: #FFFFFF;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u60408-bw
{
	z-index: 117;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 854px;
}

#menuu60409
{
	z-index: 118;
	width: 661px;
	position: fixed;
	top: 854px;
	left: 253px;
}

.elem-7
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u60438
{
	width: 111px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u60439
{
	width: 111px;
	padding-bottom: 37px;
	position: relative;
}

#u60439:hover
{
	border-color: #3C3C3C;
	background-color: #F0A37A;
	background-color: rgba(240,163,122,1);
	border-radius: 1px;
	width: 111px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(240,163,122,1);
}

#u60439.MuseMenuActive
{
	border-color: #3C3C3C;
	background-color: transparent;
	border-radius: 0px;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u60440-4
{
	width: 50px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 30px;
}

#u60439:hover #u60440-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u60439.MuseMenuActive #u60440-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u60439:hover #u60440-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u60443
{
	width: 159px;
	background-color: transparent;
	top: 56px;
}

#u60444
{
	width: 159px;
	background-color: #FFFFFF;
	position: relative;
}

#u60452
{
	width: 159px;
	background-color: transparent;
	position: relative;
}

#u60455
{
	width: 159px;
	background-color: #FFFFFF;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
}

#u60457-4
{
	width: 127px;
	min-height: 16px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 16px;
	font-size: 13px;
	text-align: left;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 14px;
}

#u15014.MuseMenuActive #u15016-4,#u60455:hover #u60457-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u60455.MuseMenuActive #u60457-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u60455:hover #u60457-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u60446
{
	width: 159px;
	background-color: #FFFFFF;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
}

#u60448-4
{
	width: 137px;
	min-height: 16px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 16px;
	font-size: 13px;
	text-align: left;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 9px;
}

#u15023.MuseMenuActive #u15025-4,#u60446:hover #u60448-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u60446.MuseMenuActive #u60448-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u60455.MuseMenuActive #u60457-4 p,#u60446:hover #u60448-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u60469
{
	width: 159px;
	background-color: #FFFFFF;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
}

#u60471-4
{
	width: 90px;
	min-height: 16px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 16px;
	font-size: 13px;
	text-align: left;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 33px;
}

#u15028.MuseMenuActive #u15030-4,#u60469:hover #u60471-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u60469.MuseMenuActive #u60471-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u60446.MuseMenuActive #u60448-4 p,#u60469:hover #u60471-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u60474
{
	width: 159px;
	background-color: #FFFFFF;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
}

#u60476-4
{
	width: 118px;
	min-height: 16px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 16px;
	font-size: 13px;
	text-align: left;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 19px;
}

#u15035.MuseMenuActive #u15036-4,#u60474:hover #u60476-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u60474.MuseMenuActive #u60476-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u60469.MuseMenuActive #u60471-4 p,#u60474:hover #u60476-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u60445,#u60466,#u60473,#u60459
{
	width: 159px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u60460
{
	width: 159px;
	background-color: #FFFFFF;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
}

#u60455:hover,#u60446:hover,#u60469:hover,#u60474:hover,#u60460:hover
{
	background-color: #F0A37A;
	width: 159px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u60461-4
{
	width: 134px;
	min-height: 16px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 16px;
	font-size: 13px;
	text-align: left;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 11px;
}

#u15042.MuseMenuActive #u15045-4,#u60460:hover #u60461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 134px;
	margin: 0px -10000px 0px 0px;
}

#u60460.MuseMenuActive #u60461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 134px;
	margin: 0px -10000px 0px 0px;
}

#u60474.MuseMenuActive #u60476-4 p,#u60460:hover #u60461-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u60410
{
	width: 145px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 113px;
}

#u60411
{
	width: 145px;
	padding-bottom: 37px;
	position: relative;
}

#u60411.MuseMenuActive
{
	border-color: #3C3C3C;
	background-color: transparent;
	border-radius: 0px;
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u60412-4
{
	width: 84px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 30px;
}

#u60411:hover #u60412-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u60411.MuseMenuActive #u60412-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u60460.MuseMenuActive #u60461-4 p,#u60411:hover #u60412-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u60424
{
	width: 133px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u60427
{
	width: 133px;
	padding-bottom: 37px;
	position: relative;
}

#u60427:hover
{
	border-color: #3C3C3C;
	background-color: #F0A37A;
	background-color: rgba(240,163,122,1);
	border-radius: 1px;
	width: 133px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(240,163,122,1);
}

#u60427.MuseMenuActive
{
	border-color: #3C3C3C;
	background-color: transparent;
	border-radius: 0px;
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u60430-4
{
	width: 72px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 30px;
}

#u60427:hover #u60430-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u60427.MuseMenuActive #u60430-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u60427:hover #u60430-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u60431
{
	width: 127px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 395px;
}

#u60432
{
	width: 127px;
	padding-bottom: 37px;
	position: relative;
}

#u60432:hover
{
	border-color: #3C3C3C;
	background-color: #F0A37A;
	background-color: rgba(240,163,122,1);
	border-radius: 1px;
	width: 127px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(240,163,122,1);
}

#u60432.MuseMenuActive
{
	border-color: #3C3C3C;
	background-color: transparent;
	border-radius: 0px;
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u60434-4
{
	width: 66px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 30px;
}

#u60432:hover #u60434-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u60432.MuseMenuActive #u60434-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u60432:hover #u60434-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u60417
{
	width: 137px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 524px;
}

#u60420
{
	width: 137px;
	padding-bottom: 37px;
	position: relative;
}

#u60420:hover
{
	border-color: #3C3C3C;
	background-color: #F0A37A;
	border-radius: 1px;
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u60423-4
{
	width: 76px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 30px;
}

#u60420:hover #u60423-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u60420.MuseMenuActive #u60423-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u60420:hover #u60423-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u60439.MuseMenuActive #u60440-4 p,#u60411.MuseMenuActive #u60412-4 p,#u60427.MuseMenuActive #u60430-4 p,#u60432.MuseMenuActive #u60434-4 p,#u60420.MuseMenuActive #u60423-4 p
{
	color: #F0A37A;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u33124
{
	z-index: 27;
	width: 1171px;
	height: 1px;
	border-color: #000000;
	background-color: #C6C6C6;
	left: -2px;
	margin-top: 8px;
	position: relative;
}

#u33121-4
{
	z-index: 23;
	width: 1170px;
	min-height: 152px;
	border-width: 0px;
	background-color: transparent;
	line-height: 67px;
	font-size: 36px;
	text-align: center;
	color: #F0A37A;
	font-family: playfair-display, serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u33127-10
{
	z-index: 28;
	width: 1170px;
	min-height: 342px;
	border-width: 0px;
	background-color: transparent;
	line-height: 28px;
	font-size: 15px;
	text-align: center;
	color: #505050;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u33130-4
{
	z-index: 38;
	width: 1170px;
	min-height: 60px;
	border-width: 0px;
	background-color: transparent;
	line-height: 56px;
	font-size: 30px;
	text-align: center;
	color: #000000;
	font-family: just-another-hand, cursive;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u33134-4
{
	z-index: 42;
	width: 1170px;
	min-height: 77px;
	border-width: 0px;
	background-color: transparent;
	line-height: 74px;
	font-size: 40px;
	text-align: center;
	color: #000000;
	font-family: nothing-you-could-do, cursive;
	font-weight: 400;
	position: relative;
}

#u1753
{
	z-index: 2;
	min-height: 126.78040540540542px;
	padding-bottom: 0px;
}

#u1753_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
	padding-top: 25px;
	padding-bottom: 8px;
}

#u48740
{
	z-index: 7;
	width: 199px;
	left: 586px;
	position: relative;
}

#u246-4
{
	z-index: 3;
	width: 400px;
	min-height: 34px;
	left: 485px;
	margin-top: 15px;
	position: relative;
}

#u1753-bw
{
	z-index: 2;
	min-height: 126.78040540540542px;
	margin-top: 43px;
}

.html
{
	background: #EDEDED url("../images/concrete_seamless.jpg") repeat center center scroll;
}

body
{
	position: relative;
	min-width: 1170px;
	padding-top: 36px;
	padding-bottom: 59px;
}

