.Title
{
	font-family: raleway-n3, sans-serif;
}

.Character-Style-1
{
	font-family: raleway-n8, sans-serif;
}

#u206-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15016-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15025-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15030-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15036-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15045-4
{
	font-family: open-sans-n4, sans-serif;
}

#u211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u200-4
{
	font-family: open-sans-n4, sans-serif;
}

#u190-4
{
	font-family: open-sans-n4, sans-serif;
}

#u183-4
{
	font-family: open-sans-n4, sans-serif;
}

#u246-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47866-4
{
	font-family: open-sans-n3, sans-serif;
}

#u47915-4
{
	font-family: open-sans-n3, sans-serif;
}

#u47950-4
{
	font-family: open-sans-n3, sans-serif;
}

#u69384-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69407-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69414-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69402-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69420-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69392-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69426-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69444-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69449-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69434-4
{
	font-family: open-sans-n4, sans-serif;
}

#u23269-4
{
	font-family: open-sans-n6, sans-serif;
}

#u25545.PamphletThumbSelected #u25546-4 p,#u24408.PamphletThumbSelected #u24414-4 p,#u25725.PamphletThumbSelected #u25726-4 p,#u25623.PamphletThumbSelected #u25625-4 p,#u47863-2,#u47863-7,#u47912-2,#u47912-7,#u47947-2,#u47947-7,#u285-4,#u24414-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u25307-4
{
	font-family: open-sans-n6, sans-serif;
}

#u48179-4
{
	font-family: open-sans-n6, sans-serif;
}

#u48206-4
{
	font-family: open-sans-n6, sans-serif;
}

#u48341-4
{
	font-family: open-sans-n6, sans-serif;
}

#u24399-4,#u48171-4,#u48198-4,#u48333-4,#u25546-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u48510-4
{
	font-family: open-sans-n6, sans-serif;
}

#u25316-4
{
	font-family: open-sans-n6, sans-serif;
}

#u48148-4
{
	font-family: open-sans-n6, sans-serif;
}

#u48502-4,#u24480-4,#u48144-4,#u25625-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u48229-4
{
	font-family: open-sans-n6, sans-serif;
}

#u48225-4,#u25726-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u48256-4
{
	font-family: open-sans-n6, sans-serif;
}

#u48310-4
{
	font-family: open-sans-n6, sans-serif;
}

#u48283-4
{
	font-family: open-sans-n6, sans-serif;
}

#u457-4,#u286-4,#u25299-4,#u24400-4,#u48177-4,#u48172-4,#u48204-4,#u48199-7,#u48337-4,#u48334-4,#u48507-4,#u48503-4,#u25331-4,#u24481-4,#u48150-4,#u48145-4,#u48233-4,#u48226-4,#u48260-4,#u48253-4,#u48314-4,#u48307-7,#u48287-4,#u48280-4,#u284-4,#u1848-4
{
	font-family: open-sans-n4, sans-serif;
}

#u770-4,#u802-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47863-4,#u47912-4,#u47947-4,#u48753-4,#u24405-4,#u48173-4,#u48200-4,#u48335-4,#u48504-4,#u24485-4,#u48146-4,#u48227-4,#u48254-4,#u48308-4,#u48281-4,#u801-4
{
	font-family: playfair-display-n4, serif;
}

#u797-4
{
	font-family: open-sans-n4, sans-serif;
}

#u781-4
{
	font-family: open-sans-n4, sans-serif;
}

#u789-4
{
	font-family: open-sans-n4, sans-serif;
}

#u796-4,#u782-4,#u790-4
{
	font-family: playfair-display-n4, serif;
}

#u860-4
{
	font-family: open-sans-n3, sans-serif;
}

#u879-4
{
	font-family: open-sans-n3, sans-serif;
}

#u885-4
{
	font-family: open-sans-n3, sans-serif;
}

#u891-4
{
	font-family: open-sans-n3, sans-serif;
}

#u897-4
{
	font-family: open-sans-n3, sans-serif;
}

#u47861-5,#u47910-5,#u47945-5,#u768-4,#u26041-7,#u26042-4
{
	font-family: open-sans-n7, sans-serif;
}

#u24393-4
{
	font-family: open-sans-n6, sans-serif;
}

#u24395-4
{
	font-family: open-sans-n6, sans-serif;
}

#u24397-4
{
	font-family: open-sans-n6, sans-serif;
}

#u26043-4,#u48537-4
{
	font-family: open-sans-n4, sans-serif;
}

#u48252-4,#u48306-4,#u48279-4,#u287,#u765-8,#u841,#u858,#u909,#u26041-2,#u26041-4,#u26041-6,#u1746-4
{
	font-family: yesteryear-n4, sans-serif;
}

