.Title
{
	font-family: raleway-n3, sans-serif;
}

.Character-Style-1
{
	font-family: raleway-n8, sans-serif;
}

#u206-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15016-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15025-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15030-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15036-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15045-4
{
	font-family: open-sans-n4, sans-serif;
}

#u211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u200-4
{
	font-family: open-sans-n4, sans-serif;
}

#u190-4
{
	font-family: open-sans-n4, sans-serif;
}

#u183-4
{
	font-family: open-sans-n4, sans-serif;
}

#u246-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51480-4
{
	font-family: open-sans-n3, sans-serif;
}

#u51486-4
{
	font-family: open-sans-n3, sans-serif;
}

#u51474-4
{
	font-family: open-sans-n3, sans-serif;
}

#u70025-4
{
	font-family: open-sans-n4, sans-serif;
}

#u70032-4
{
	font-family: open-sans-n4, sans-serif;
}

#u70041-4
{
	font-family: open-sans-n4, sans-serif;
}

#u70044-4
{
	font-family: open-sans-n4, sans-serif;
}

#u70053-4
{
	font-family: open-sans-n4, sans-serif;
}

#u70060-4
{
	font-family: open-sans-n4, sans-serif;
}

#u70065-4
{
	font-family: open-sans-n4, sans-serif;
}

#u70083-4
{
	font-family: open-sans-n4, sans-serif;
}

#u70072-4
{
	font-family: open-sans-n4, sans-serif;
}

#u70090-4
{
	font-family: open-sans-n4, sans-serif;
}

#u52038-4
{
	font-family: open-sans-n6, sans-serif;
}

#u31694.PamphletThumbSelected #u31696-4 p,#u31470.PamphletThumbSelected #u31472-4 p,#u31663.PamphletThumbSelected #u31664-4 p,#u31585.PamphletThumbSelected #u31586-4 p,#u51477-2,#u51477-7,#u51483-2,#u51483-7,#u51471-2,#u51471-7,#u52030-4,#u31472-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u31586-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u52079-4
{
	font-family: open-sans-n6, sans-serif;
}

#u52071-4,#u31664-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u52112-4
{
	font-family: open-sans-n6, sans-serif;
}

#u52104-4,#u31696-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u52145-4
{
	font-family: open-sans-n6, sans-serif;
}

#u31819-4
{
	font-family: open-sans-n6, sans-serif;
}

#u52184,#u52184-2,#u52184-3,#u52184-4,#u52186,#u52186-2,#u52186-3,#u52186-4,#u52188,#u52188-2,#u52188-3,#u52188-4
{
	font-family: open-sans-n3, sans-serif;
}

#u51475-5,#u51481-5,#u51469-5,#u52184-12,#u52186-11,#u52188-11
{
	font-family: open-sans-n7, sans-serif;
}

#u51477-4,#u51483-4,#u51471-4,#u52032-4,#u52073-4,#u52106-4,#u52139-4,#u52191-4,#u52194-4,#u52197-4
{
	font-family: playfair-display-n4, serif;
}

#u52034-4,#u52031-4,#u52075-4,#u52072-4,#u52108-4,#u52105-4,#u52141-4,#u52138-4,#u52190-4,#u52193-4,#u52196-4,#u31863,#u31861-4,#u52237-4
{
	font-family: open-sans-n4, sans-serif;
}

#u52137-4,#u52198-4,#u52184-6,#u52184-8,#u52184-10,#u52184-11,#u52186-6,#u52186-8,#u52186-10,#u52188-6,#u52188-8,#u52188-10,#u52243-4
{
	font-family: yesteryear-n4, sans-serif;
}

