.Title
{
	font-family: raleway-n3, sans-serif;
}

.Character-Style-1
{
	font-family: raleway-n8, sans-serif;
}

#u206-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15016-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15025-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15030-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15036-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15045-4
{
	font-family: open-sans-n4, sans-serif;
}

#u211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u200-4
{
	font-family: open-sans-n4, sans-serif;
}

#u190-4
{
	font-family: open-sans-n4, sans-serif;
}

#u183-4
{
	font-family: open-sans-n4, sans-serif;
}

#u246-4
{
	font-family: open-sans-n4, sans-serif;
}

#u48772-4
{
	font-family: open-sans-n3, sans-serif;
}

#u48784-4
{
	font-family: open-sans-n3, sans-serif;
}

#u48778-4
{
	font-family: open-sans-n3, sans-serif;
}

#u69599-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69606-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69615-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69618-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69627-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69634-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69639-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69657-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69646-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69664-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49102-4,#u49106-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49122-4,#u49153-4
{
	font-family: open-sans-n4, sans-serif;
}

#u48769-4,#u48781-4,#u48775-4,#u49152-4
{
	font-family: playfair-display-n4, serif;
}

#u49145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49134-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49141-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49163-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49165-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49168-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49175-4
{
	font-family: open-sans-n3, sans-serif;
}

#u48767-5,#u48779-5,#u48773-5,#u49121-4,#u49191-7,#u49192-4
{
	font-family: open-sans-n7, sans-serif;
}

#u49622-4
{
	font-family: open-sans-n6, sans-serif;
}

#u27470.PamphletThumbSelected #u27472-4 p,#u27199.PamphletThumbSelected #u27201-4 p,#u48769-2,#u48769-7,#u48781-2,#u48781-7,#u48775-2,#u48775-7,#u49103,#u49120-8,#u49156,#u49159,#u49177,#u49191-2,#u49191-4,#u49191-6,#u27189-4,#u27201-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u49635-4
{
	font-family: open-sans-n6, sans-serif;
}

#u49627-4,#u27472-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u49662-4
{
	font-family: open-sans-n6, sans-serif;
}

#u49146-4,#u49135-4,#u49140-4,#u27192-4,#u49629-4,#u49656-4,#u49683-4
{
	font-family: playfair-display-n4, serif;
}

#u49689-4
{
	font-family: open-sans-n6, sans-serif;
}

#u49710-4
{
	font-family: open-sans-n6, sans-serif;
}

#u49712-4
{
	font-family: open-sans-n6, sans-serif;
}

#u49714-4
{
	font-family: open-sans-n6, sans-serif;
}

#u49193-4,#u49610-4,#u27190-4,#u49633-4,#u49628-4,#u49660-4,#u49655-4,#u49687-4,#u49682-4,#u49715-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49654-4,#u49681-4,#u49735-4
{
	font-family: yesteryear-n4, sans-serif;
}

