.Title
{
	font-family: raleway-n3, sans-serif;
}

.Character-Style-1
{
	font-family: raleway-n8, sans-serif;
}

#u206-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15016-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15025-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15030-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15036-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15045-4
{
	font-family: open-sans-n4, sans-serif;
}

#u211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u200-4
{
	font-family: open-sans-n4, sans-serif;
}

#u190-4
{
	font-family: open-sans-n4, sans-serif;
}

#u183-4
{
	font-family: open-sans-n4, sans-serif;
}

#u246-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49798-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49804-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49810-4
{
	font-family: open-sans-n3, sans-serif;
}

#u69812-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69819-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69828-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69831-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69840-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69847-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69852-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69870-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69859-4
{
	font-family: open-sans-n4, sans-serif;
}

#u69877-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50431.PamphletThumbSelected #u50432-4 p,#u50381.PamphletThumbSelected #u50382-4 p,#u49795-2,#u49795-7,#u49801-2,#u49801-7,#u49807-2,#u49807-7,#u50382-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u50488-4
{
	font-family: open-sans-n6, sans-serif;
}

#u50497-4
{
	font-family: open-sans-n6, sans-serif;
}

#u50369-4,#u50489-4,#u50432-4
{
	font-family: yesteryear-n4, sans-serif;
}

#u50506-4
{
	font-family: open-sans-n6, sans-serif;
}

#u50515-4
{
	font-family: open-sans-n6, sans-serif;
}

#u50486-4,#u50370-4,#u50493-4,#u50490-4,#u50503-4,#u50499-4,#u50512-4,#u50508-4,#u50120-4,#u50123-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50137-4,#u50168-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49795-4,#u49801-4,#u49807-4,#u50372-4,#u50491-4,#u50500-4,#u50509-4,#u50167-4
{
	font-family: playfair-display-n4, serif;
}

#u50163-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50147-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50155-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50162-4,#u50148-4,#u50156-4
{
	font-family: playfair-display-n4, serif;
}

#u50178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u50181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u50184-4
{
	font-family: open-sans-n3, sans-serif;
}

#u50186-4
{
	font-family: open-sans-n3, sans-serif;
}

#u50190-4
{
	font-family: open-sans-n3, sans-serif;
}

#u49793-5,#u49799-5,#u49805-5,#u50136-4,#u50206-7,#u50207-4
{
	font-family: open-sans-n7, sans-serif;
}

#u50518-4
{
	font-family: open-sans-n6, sans-serif;
}

#u50520-4
{
	font-family: open-sans-n6, sans-serif;
}

#u50522-4
{
	font-family: open-sans-n6, sans-serif;
}

#u50208-4,#u50523-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50498-4,#u50507-4,#u50121,#u50135-8,#u50171,#u50174,#u50192,#u50206-2,#u50206-4,#u50206-6,#u50851-4
{
	font-family: yesteryear-n4, sans-serif;
}

